@import url("./animations.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #007acc;
  }
}

*,
::before,
::after {
  @apply box-border p-0 m-0 transition-all duration-100;
}
html {
  @apply scroll-smooth;
}
body {
  @apply text-on-background dark:text-white;
}

/* UTILITIES */
.container {
  padding-left: 15vw;
  padding-right: 15vw;
}
.text-format {
  @apply px-2;
}
.paragraph-format {
  @apply px-2 w-full lg:w-[500px];
}
.desc-format {
  @apply px-2 line-clamp-2;
}
.active {
  @apply bg-primary hover:bg-primary-dark text-on-primary;
}
.button-format {
  @apply text-center w-[150px] h-[50px] py-[15px] rounded-lg;
}
.show {
  @apply opacity-100 visible;
}
.hide {
  @apply opacity-0 invisible;
}
