@keyframes moonbami {
  0% {
    background-color: #007acc;
    background-clip: text;
    color: transparent;
  }

  14% {
    background-color: #ff2e97;
    background-clip: text;
    color: transparent;
  }

  28% {
    background-color: #ed6f15;
    background-clip: text;
    color: transparent;
  }

  42% {
    background-color: #ffca1b;
    background-clip: text;
    color: transparent;
  }

  56% {
    background-color: #c60000;
    background-clip: text;
    color: transparent;
  }

  70% {
    background-color: #32ff9d;
    background-clip: text;
    color: transparent;
  }

  84% {
    background-color: #4b129c;
    background-clip: text;
    color: transparent;
  }

  100% {
    background-color: #007acc;
    background-clip: text;
    color: transparent;
  }
}
