@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 122 204;
    --primary-dark: 6 90 170;
    --primary-light: 0 159 245;
    --background: 250 250 250;
    --surface: 253 252 250;
    --error: 234 60 83;
    --on-primary: 255 255 255;
    --on-primary-dark: 255 255 255;
    --on-secondary: 0 0 0;
    --on-background: 0 0 0;
    --on-surface: 0 0 0;
    --on-error: 255 255 255;
  }
  /* @media (prefers-color-scheme: dark) {
    :root {
      --primary: 0 122 204;
      --primary-dark: 6 90 170;
      --primary-light: 0 173 255;
      --background: 18 18 18;
      --surface: 253 252 250;
      --error: 234 60 83;
      --on-primary: 255 255 255;
      --on-primary-dark: 255 255 255;
      --on-secondary: 255 255 255;
      --on-background: 255 255 255;
      --on-surface: 255 255 255;
      --on-error: 255 255 255;
    }
  } */
}

*,
::before,
::after {
  @apply box-border p-0 m-0 transition-all duration-100;
}
html {
  @apply scroll-smooth;
}
body {
  @apply text-on-background dark:text-white;
}

/* UTILITIES */
.text-format {
  @apply px-2;
}
.paragraph-format {
  @apply px-2 w-full lg:w-[500px];
}
.desc-format {
  @apply px-2 line-clamp-2;
}
.active {
  @apply bg-primary dark:bg-primary-light text-on-primary;
}
.button-format {
  @apply text-center w-[150px] h-[50px] py-[15px] rounded-lg;
}
.show {
  @apply opacity-100 visible;
}
.hide {
  @apply opacity-0 invisible;
}
.scrolled-header-bg {
  @apply bg-surface dark:bg-dm-surface-dark shadow-md dark:shadow-transparent;
}
